.contractVerified_wrap {
    min-height: 100vh;

    .contract_head {
        color: #4a4f55;
        font-size: 22px;
        margin: 15px 0px;
        span{
            font-size: 18px;
        }
    }

    hr {
        margin: 10px 0px;
        color: #c5c3c3;
    }

    .contract_table {
        padding: 23px;
        background-color: white;

        .table_headings{
            background: #eaeeef;
        }

        .transaction_details{
            color: #c50cb1;
        }
    
        .pagination_div {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;

            .show_count {
                padding: 0px 0px 15px 10px;

                span {
                    background: #fdfdfd;
                    padding: 5px 13px;
                    border: 1px solid #c3c2c2;
                    border-radius: 4px;
                    font-size: 12px;
                }
            }

            .paginate_count {
                padding: 0px 15px 10px 0px;

                span {
                    background: #dcefff;
                    padding: 5px 10px;
                    font-size: 12px;
                    font-weight: 500;
                    border-radius: 3px;
                    color: gray;
                    cursor: pointer;

                    &:hover {
                        background: #0f91ff;
                        color: #fff;
                    }

                }
            }
        }
    }


}