.reset_password_wrap {
    min-height: 80vh;

    .resetPwd_form {
        margin-top: 40px;

        .reset_head {
            color: #811579;
            font-size: 25px;
            font-weight: 500;
        }

        .reset_subhead {
            color: #686767;
        }

        .reset_pwd_btn {
            margin-top: 25px;
            text-align: right;

            .primary_btn {
                padding: 5px 10px;
            }
        }
    }
}